<footer>
  <p class="align-center">The reported study was funded by RFBR according to the research project No.&nbsp;16-37-00354&nbsp;мол_a.</p>
</footer>

<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/base-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-responsive-min.css">
