<div id="footer">
  <p class="align-center">
    Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> on Twitter
    and <a href="https://github.com/{{ site.github_username }}">@{{ site.github_username }}</a> on GitHub.
  </p>
  <p class="align-center"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
</div>

<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
